.filter {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.btn {
  width: 55px;
  height: 35px;
  background-color: white;
  border: 1px solid brown;
  color: brown;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}


.btn.is-active {
  background-color: brown;
  color: white;
  transition: 0.5s;
}
