/* .item {
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  font-family: cursive;
  color: brown;
  border-radius: 13px;
  border-style: 1px solid brown;
  margin-left: 13px;
  transition: 0.5s;
}
.button {
  background-color: brown;
  color: white;
}
.is-active {
  background-color: brown;
  color: white;
  opacity: 0.5;
}
.is-disabled {
  background-color: grey;
  color: rgb(74, 74, 122);
  pointer-events: none;
}
.container {
  width: 150px;
  height: 70px;
} */


